@font-face {
    font-family: 'Alte Hass Grotesk';
    src: url('../fonts/AlteHaasGroteskRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Alte Hass Grotesk bold';
    src: url('../fonts/AlteHaasGroteskBold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}
html {
    font-size: 62.5%;
}
body {
    margin: 0;
    background-color: rgb(239,239,241);
    font-family: 'Alte Hass Grotesk', 'Helvetica';
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    color: rgb(77,82,104);
    position: relative;
    padding-top: 30px;
}
h1 {
    font-size: 8px;
    color: rgb(239,239,241);
}
h2 {
    font-size: 2rem;
}
.bleuciel {
    color: rgb(92,187,189);
}
.bleufonce {
    color: rgb(77,82,104);
}
.grey {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
}
.bibliomapImg {
    position: relative;
}
.displayImg {
    border-radius: 30px;
}
.imgText {
    position: absolute;
    top: 35%;
    left: 5px;
    font-size: 1.4rem;
}
#language {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}
#language img {
    height: 25px;
}
#language a {
    text-decoration: none;
}
#logo {
    max-width: 200px;
    height: auto;
}
#presentation {
    font-size: 1.3rem;
    font-weight: bold;
    width: 50%;
    text-align: center;
}
#presentation p {
    width: 65%;
    display: inline-block;
}
#presentation img {
    width: 100%;
    height: auto;
}
#presentation a:hover, #presentation a:visited, #presentation a:link {
    text-decoration: underline;
    color: rgb(92,187,189);
}
#services {
    width: 60%;
    padding: 10px;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction:row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
.serviceUnit {
    width: 29%;
    min-width: 190px;
    padding: 10px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}
.serviceUnit a:hover, .serviceUnit a:visited, .serviceUnit a:link {
    color: rgb(92,187,189);
}

.serviceUnit img {
    max-width: 80%;
    max-height: 49px;
}
#logs {
    width: 100%;
    background-image: url(../img/fond-image.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 22vw;
    text-align: center;
}
#stats {
    width: 60%;
    padding-top: 10px;
    display: inline-flex;
    display: -webkit-inline-flex;
    display: -ms-flexbox;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    align-items: flex-start;
    -ms-flex-align: flex-start;
    -webkit-align-items: flex-start;
}
.numberBox {
    width: 13%;
    min-width: 115px;
    padding: 10px;
}
#counter1, #counter2, #counter3, #counter4, #counter5, #counter6 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}
.what {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
}
#team {
    width: 100%;
    background-color: rgb(77,82,104);
    text-align: center;
    padding-bottom: 30px;
}
#teamTitle {
    width: 60%;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    display: inline-block;
    padding: 25px;
}
#teamTools {
    width: 60%;
    display: inline-flex;
    display: -webkit-inline-flex;
    display: -ms-flexbox;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.teamItem {
    width: 25%;
    min-width: 190px;
    color: #fff;
}
.teamItem a:hover, .teamItem a:visited, .teamItem a:link {
    text-decoration: underline;
    color: rgb(92,187,189);
}
.teamItem img {
    max-width: 80%;
    max-height: 68px;
}
.itemTitle {
    font-size: 1.4rem;
    font-weight: bold;
}
.itemText {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}
footer {
    width: 100%;
    padding: 20px 0 30px 0;
    text-align: center;
}
#copyright {
    width: 60%;
    display: inline-block;
    color: rgb(77,82,104);
    font-size: 1.1rem;
    font-style: italic;
    text-align: left;
}
#logosPictos {
    width: 60%;
    display: inline-flex;
    display: -webkit-inline-flex;
    display: -ms-flexbox;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin-top: 20px;
}
.logosZone1, .logosZone2 {
    display: inline-flex;
    display: -webkit-inline-flex;
    display: -ms-flexbox;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.logosZone1 {
    width: 35%;
    min-width: 260px;
}
.logosZone2 {
    width: 20%;
    min-width: 150px;
}
.logosZone1 img {
    height: 42px;
}
.logosZone2 img {
    height: 25px;
    padding-left: 5px;
}
@media (max-width: 775px) {
    #stats {
        justify-content: center;
        -webkit-justify-content: center;
        padding-top: 2px;
    }
    .numberBox {
        width: 60%;
        min-width: 150px;
        padding: 0;
    }
    #counter1, #counter2, #counter3, #counter4, #counter5, #counter6, .what {
        display: inline-block;
        font-size: 1.2rem;
    }
    #presentation {
        width: 90%;
    }
}
@media (max-width: 732px) {
    #services {
        justify-content: center;
        -webkit-justify-content: center;
    }
}
@media (max-width: 667px) {
    #teamTools {
        justify-content: center;
        -webkit-justify-content: center;
    }
}
